In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import RandomForestClassifier

# Чтение файлов

In [10]:
train = pd.read_csv('data/train.csv', index_col='PassengerId')
train.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
0,1,1,"Oconnor, Frankie",male,NaN,2,0,209245,27.14,C12239,S
1,0,3,"Bryan, Drew",male,NaN,0,0,27323,13.35,NaN,S
2,0,3,"Owens, Kenneth",male,0.33,1,2,CA 457703,71.29,NaN,S
3,0,3,"Kramer, James",male,19.00,0,0,A. 10866,13.04,NaN,S
4,1,3,"Bond, Michael",male,25.00,0,0,427635,7.76,NaN,S

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 11 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Survived  100000 non-null  int64
 1   Pclass    100000 non-null  int64
 2   Name      100000 non-null  object
 3   Sex       100000 non-null  object
 4   Age       96708 non-null   float64
 5   SibSp     100000 non-null  int64
 6   Parch     100000 non-null  int64
 7   Ticket    95377 non-null   object
 8   Fare      99866 non-null   float64
 9   Cabin     32134 non-null   object
 10  Embarked  99750 non-null   object
dtypes: float64(2), int64(4), object(5)
memory usage: 9.2+ MB

In [14]:
## Здесь test - то, на основании чего потом грузить submit
## train - для обучения модели - делить на test и valid
test = pd.read_csv('data/test.csv', index_col='PassengerId')
test.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
100000,3,"Holliday, Daniel",male,19.0,0,0,24745,63.01,NaN,S
100001,3,"Nguyen, Lorraine",female,53.0,0,0,13264,5.81,NaN,S
100002,1,"Harris, Heather",female,19.0,0,0,25990,38.91,B15315,C
100003,2,"Larsen, Eric",male,25.0,0,0,314011,12.93,NaN,S
100004,1,"Cleary, Sarah",female,17.0,0,2,26203,26.89,B22515,C

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 11 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Survived  100000 non-null  int64
 1   Pclass    100000 non-null  int64
 2   Name      100000 non-null  object
 3   Sex       100000 non-null  object
 4   Age       96708 non-null   float64
 5   SibSp     100000 non-null  int64
 6   Parch     100000 non-null  int64
 7   Ticket    95377 non-null   object
 8   Fare      99866 non-null   float64
 9   Cabin     32134 non-null   object
 10  Embarked  99750 non-null   object
dtypes: float64(2), int64(4), object(5)
memory usage: 9.2+ MB

In [16]:
submission = pd.read_csv('data/sample_submission.csv', index_col='PassengerId')
submission.head()

             Survived
PassengerId
100000              1
100001              1
100002              1
100003              1
100004              1

In [17]:
submission.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 100000 to 199999
Data columns (total 1 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Survived  100000 non-null  int64
dtypes: int64(1)
memory usage: 1.5 MB

In [18]:
train.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [19]:
cat_columns = ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']
num_columns = ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [20]:
label_train = train.copy()
label_test = test.copy()

label_encoder = LabelEncoder()
for col in cat_columns:
    label_encoder.fit(list(train[col].values) + list(test[col].values))
    label_train[col] = label_encoder.transform(train[col])
    label_test[col] = label_encoder.transform(test[col])

ValueError: y contains previously unseen labels: nan